.header_about{
    border: 2px solid black;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    gap: 15px;
}

.gallery img{
    border: 3px solid white;
    width: 100%;
}