.header_about{
    border: 2px solid black;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
    gap: 15px;
}

.gallery img{
    border: 3px solid white;
    max-width: 100%;
}


/*Query for iPad*/
@media only screen and (min-width: 480px){
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: auto;
        gap: 15px;        
    }
}

/*Query for desktop*/
@media only screen and (min-width: 800px){
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        margin: auto;
        gap: 15px;        
    }
}