.header_courses{
    border: 2px solid black;
}


.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 15px;
    justify-content: center;
    align-items:center;
}

.gallery .image{
    position: relative;
    box-sizing: border-box;
    display: inline-block
}

.gallery .image .imgBox{
    position: relative;
}
.gallery .image .imgBox img{
    max-width: 90%;
    border: 3px solid black;
    background: rgba(0,0,0,.8);
}


.gallery .image .imageOverlay{
    position: absolute;
    top: 3%;
    left: 3%;
    bottom: 3%;
    right: 12%;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
}

.gallery .image:hover .imageOverlay{
    transform: scaleY(1);
}
.gallery .image .imageOverlay .imageTitle{
    text-align: center;
    color: white
}
.gallery .image .imageOverlay .imageInfo{
    text-align: center;
    color: white
}

@media only screen and (min-width: 500px){
    .gallery{
        flex-direction: row;
    }
    .gallery .image{
        max-width: 45%;
    }
}

@media only screen and (min-width: 800px){

    .gallery .image{
        max-width: 25%;

    }
}




