.header_courses{
    border: 2px solid black;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 15px;
    justify-content: center;
    align-items:center;
}

.gallery img{
    border: 3px solid black;
    width: 25%;
}

.gallery img:first-child{
    border: none;
    align-self: center;
}